@charset "UTF-8";
/*!
    Template: swell
    Theme Name: SWELL CHILD
    Theme URI: https://swell-theme.com/
    Description: SWELLの子テーマ
    Version: 1.0.0
    Author: LOOS WEB STUDIO
    Author URI: https://loos-web-studio.com/

    License: GNU General Public License
    License URI: http://www.gnu.org/licenses/gpl.html
*/
/*--------------------------------------------------------
* トップページ (HOME) 
--------------------------------------------------------*/
/*--------------------------------------------------------
フォント
--------------------------------------------------------*/
* {
  font-family: "Noto Sans JP", sans-serif;
  /* vars.$jp-font */
}

/*--------------------------------------------------------
  * ショートコードタグ
  --------------------------------------------------------*/
.block-part-wrap p,
.block-part-wrap br {
  display: none;
}

/*--------------------------------------------------------
  * mainタグ
  --------------------------------------------------------*/
.site-main {
  overflow: hidden;
}

/* 非表示 レスポンシブデザイン */
.-sp {
  display: none;
}

/*--------------------------------------------------------
  * 背景オブジェクト
  --------------------------------------------------------*/
.object-content {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1440px;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.object-content .object-circle {
  position: absolute;
  width: 220px;
  height: 220px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  animation: float 6s ease-in-out infinite;
}

.object-content .object-circle.one {
  top: 80px;
  left: -24px;
  background-image: url("../images/object/img_object_01.svg");
  animation-delay: 0s;
}

.object-content .object-circle.two {
  width: 200px;
  height: 200px;
  bottom: 96px;
  right: -24px;
  background-image: url("../images/object/img_object_02.svg");
  animation-delay: 2s;
}

.object-content .object-circle.three {
  top: 200px;
  left: -24px;
  background-image: url("../images/object/img_object_03.svg");
  animation-delay: 0s;
}

.object-content .object-circle.four {
  width: 200px;
  height: 200px;
  bottom: 0;
  right: -24px;
  background-image: url("../images/object/img_object_04.svg");
  animation-delay: 2s;
}

.object-content .object-circle.five {
  top: 0;
  left: -24px;
  background-image: url("../images/object/img_object_03.svg");
  animation-delay: 0s;
}

.object-content .object-circle.six {
  width: 200px;
  height: 200px;
  top: -80px;
  right: -24px;
  background-image: url("../images/object/img_object_04.svg");
  animation-delay: 2s;
}

.object-content .object-circle.woman {
  width: 300px;
  height: 300px;
  bottom: -24px;
  left: -24px;
  background-image: url("../images/trouble/trouble_woman.png");
}

.object-content .object-circle.man {
  width: 300px;
  height: 300px;
  bottom: -24px;
  right: -24px;
  background-image: url("../images/trouble/trouble_man.png");
}

/* 背景ストライプ */
.diagonal-border {
  position: absolute;
  content: "";
  background-image: repeating-linear-gradient(45deg, #fff490, #fff490 10px, #ffcc00 10px, #ffcc00 20px);
  z-index: -1;
}

/*--------------------------------------------------------
* メインビジュアル (hero)
--------------------------------------------------------*/
.hero {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 96px 0 32px;
}

.hero img {
  pointer-events: none;
}

.hero::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 136px;
  background-color: #ffef21;
}

.hero::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 136px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 128px 100vw 0;
  border-color: transparent transparent transparent #ffef21;
}

.hero .hero-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.hero .hero-bg::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  max-width: 300px;
  width: 100%;
  height: clamp(200px, 20vw, 300px);
  background-image: url("../images/hero/fv_bg_aircondetion.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 160% 0;
  z-index: -1;
}

.hero__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.hero__container > div {
  width: 100%;
}

.hero__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  gap: 40px;
}

.hero__content-main {
  position: relative;
  width: 72%;
  z-index: 1;
}

.hero__content-main .hero-title {
  position: relative;
  width: 100%;
}

.hero__content-main .hero-title .title-area {
  position: absolute;
  top: 4px;
  left: 16px;
  color: var(--color_header_text);
  font-size: clamp(16px, 2vw, 24px);
  font-weight: bold;
  font-feature-settings: "palt";
}

@media (min-width: 1024px) {
  .hero__content-main .hero-title .title-area {
    font-size: 24px;
  }
}
.hero__content-main .hero-title img {
  max-width: 100%;
  height: auto;
}

.hero__content-main .hero-feature > div {
  display: flex;
  gap: 24px;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 1024px) {
  .hero__content-main .hero-feature {
    gap: 16px;
  }
}
.hero__content-main .hero-feature img {
  height: auto;
  transition: transform 0.3s ease;
}

.hero__content-main .hero-feature img:hover {
  transform: translateY(-5px);
}

.hero .hero-model {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 380px;
  width: 36%;
  z-index: -1;
}

@media (min-width: 1024px) {
  .hero .hero-model {
    max-width: 390px;
    width: 35%;
  }
}
.hero .hero-model img {
  max-width: 100%;
  height: auto;
  animation: float 6s ease-in-out infinite;
}

.hero__content-bottom > div {
  position: relative;
  display: flex;
  align-items: center;
  gap: 24px;
  z-index: 1;
}

@media (min-width: 1024px) {
  .hero__content-bottom {
    gap: 40px;
  }
}
.hero-content-price {
  flex: 2;
}

.hero-content-other {
  flex: 1.3;
}

.hero-content-price img,
.hero-content-other img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.hero-content-price img:hover,
.hero-content-other img:hover {
  transform: scale(1.02);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
/*--------------------------------------------------------
  * CTA
  --------------------------------------------------------*/
.p-cta {
  position: relative;
  padding: 40px 0 80px;
  /* vars.$sp-padding vars.$pc-padding */
}

.p-cta .diagonal-border {
  top: 0;
  left: 0;
  height: clamp(120px, 18vh, 192px);
  width: 100%;
}

.p-cta__inner {
  padding: 0 80px;
}

.p-cta__content {
  position: relative;
  max-width: 1200px;
  margin: 0 auto 48px;
  filter: drop-shadow(0 0 24px rgba(0, 0, 0, 0.1));
}

.p-cta__button {
  position: absolute;
  left: 5%;
  bottom: 10%;
  width: 77%;
}

.p-cta__button .header__cta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
}

.p-cta .cta-button {
  padding: 40px;
}

.p-cta .cta-button img {
  margin: auto;
  max-width: 340px;
  width: 94%;
}

.p-cta__main {
  position: relative;
}

.p-cta.two {
  padding-top: 0;
}

.p-cta.two .p-cta__content::before {
  position: absolute;
  content: "";
  top: -16px;
  left: 56px;
  width: calc(50% - 80px);
  height: 80px;
  background-color: #ffcc00;
  border-radius: 40px 40px 0 0;
}

.p-cta.three {
  padding-top: 80px;
}

.p-cta.three::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  background-color: #ffcc00;
}

/* ... (以下、同様のルールで各セクションを変換) ... */
/* 非表示 スピナー */
.wpcf7-spinner {
  display: none;
}
